.row-content {
    margin-top: 5vh;
}

a {
    display: block;
}

.col-md-3 {
    padding: 3em;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    width: 75%;
}

.reviewCard {
    width: 100%;
}